# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# FastAPI
*.log

# Unit test / coverage reports
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
cover/

# Environment variables
.env

# Virtual environments
venv/
.venv/

# IDE files
.idea/

# SQLite database
database.db
